.header  
  .header__upper
    = link_to "Macron", root_path, class: "header__upper--logo"
    .header__upper--navTop
      .user
        %span Hi,
        = link_to "n,matsufuji06", "#", class: "user__link"
      .logIn
        = link_to "Log In", "#", class: "logIn__link"
        = link_to "簡単ログイン", "#", class: "logIn__linkSimple"
      .logOut
        = link_to "Log Out", "#", class: "logOut__link"
  .header__bottom
    .header__bottom--menu
      .graph
        .graph__menu グラフ
      .postsIndex
        .postsIndex__menu 投稿一覧