.formGroup
  = form_for @post do |f|
    = render 'layouts/error_messages', model: f.object
    .formGroup__date
      = f.label :date, "日付", class: 'formGroup__date--label'
      = f.date_select :date, class: 'formGroup__date--form'
    .formGroup__macroList
      %table
        %tr
          %th 食べたもの
          %th カロリー(kcal)
          %th 炭水化物(g)
          %th 脂質(g)
          %th タンパク質(g) 
        - if @myposts.present?
          - @myposts.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).each do |mypost|
            %tr
              %td= mypost.food
              %td= mypost.calorie
              %td= mypost.carbo
              %td= mypost.fat
              %td= mypost.protein
    .formGroup__main
      .formGroup__main--food
        .foodName
          = f.label :food, "食べたもの", class: 'label'
          = f.text_field :food, class: 'form'
        .foodImage
          = f.label :image, "画像を投稿（任意）", class: 'label'
          = f.file_field :image, class: 'form'
      .formGroup__main--macro
        .carbo
          = f.label :carbo, "炭水化物(g)", class: 'label'
          = f.number_field :carbo, step: "0.1", class: 'form'
        .fat
          = f.label :fat, "脂質(g)", class: 'label'
          = f.number_field :fat, step: "0.1", class: 'form'
        .protein
          = f.label :protein, "タンパク質(g)", class: 'label'
          = f.number_field :protein, step: "0.1", class: 'form'
      .formGroup__main--calorie
        = f.label :calorie, "カロリー(kcal)", class: 'label'
        = f.number_field :calorie, step: "0.1", class: 'form'
        %p.calorieNote ※カロリーは自動入力されます
      .formGroup__main--weight
        = f.label :weight, "現在体重(kg)", class: 'label'
        = f.number_field :weight, step: "0.1", class: 'form'
    .formGroup__submit
      = f.submit "投稿する", class: "submitBtn"
    .formGroup__macroTotal
      - if Post.sum(:calorie).present? && Post.sum(:carbo).present? && Post.sum(:fat).present? && Post.sum(:protein).present? && Standard.maximum(:calorie).present? && Standard.maximum(:carbo).present? && Standard.maximum(:fat).present? && Standard.maximum(:protein).present?
        %table
          %tr
            %td 今日の合計
            %td= Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:calorie)
            %td= Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:carbo)
            %td= Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:fat)
            %td= Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:protein)
          %tr
            %td 目標
            %td= Standard.maximum(:calorie)
            %td= Standard.maximum(:carbo)
            %td= Standard.maximum(:fat)
            %td= Standard.maximum(:protein)
          %tr
            %td 残り...
            %td= Standard.maximum(:calorie) - Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:calorie)
            %td= Standard.maximum(:carbo) - Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:carbo)
            %td= Standard.maximum(:fat) - Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:fat)
            %td= Standard.maximum(:protein) - Post.where(date: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).sum(:protein)
          %tr
            %th 
            %th カロリー(kcal)
            %th 炭水化物(g)
            %th 脂質(g)
            %th タンパク質(g)