.formStandard
  = form_for @standard do |f|
    .formStandard__left
      .formStandard__left--weight
        = f.label :weight, "現在体重", class: 'label'
        = f.number_field :weight, step: "0.1", class: 'standardForm'
      
      .formStandard__left--idealWeight
        = f.label :idealweight, "理想体重", class: 'label'
        = f.number_field :idealweight, step: "0.1", class: 'standardForm'

    .formStandard__right
      .formStandard__right--macro
        .carboStandard
          = f.label :carbo, "炭水化物", class: 'label'
          = f.number_field :carbo, step: "0.1", class: 'standardForm'
        
        .fatStandard
          = f.label :fat, "脂質", class: 'label'
          = f.number_field :fat, step: "0.1", class: 'standardForm'

        .proteinStandard
          = f.label :protein, "タンパク質", class: 'label'
          = f.number_field :protein, step: "0.1", class: 'standardForm'

      .formStandard__right--calorie
        = f.label :calorie, "カロリー", class: 'label'
        = f.number_field :calorie, step: "0.1", class: 'standardForm'

    .formStandard__bottom
      .formStandard__bottom--submit
        = f.submit "完了", class: "submitBtn"